In [ ]:
import polars as pl
import seaborn as sns
from matplotlib import pyplot as plt

# Why use a scatterplot?
1.

In [9]:
(data := pl.read_csv("./data/Titanic-Dataset.csv",
                           columns = ['PassengerId', 'Survived', 'Age', 'Fare', 'Sex','Name']
                          )
).head()

shape: (5, 6)
┌─────────────┬──────────┬─────────────────────────────────┬────────┬──────┬─────────┐
│ PassengerId ┆ Survived ┆ Name                            ┆ Sex    ┆ Age  ┆ Fare    │
│ ---         ┆ ---      ┆ ---                             ┆ ---    ┆ ---  ┆ ---     │
│ i64         ┆ i64      ┆ str                             ┆ str    ┆ f64  ┆ f64     │
╞═════════════╪══════════╪═════════════════════════════════╪════════╪══════╪═════════╡
│ 1           ┆ 0        ┆ Braund, Mr. Owen Harris         ┆ male   ┆ 22.0 ┆ 7.25    │
│ 2           ┆ 1        ┆ Cumings, Mrs. John Bradley (Fl… ┆ female ┆ 38.0 ┆ 71.2833 │
│ 3           ┆ 1        ┆ Heikkinen, Miss. Laina          ┆ female ┆ 26.0 ┆ 7.925   │
│ 4           ┆ 1        ┆ Futrelle, Mrs. Jacques Heath (… ┆ female ┆ 35.0 ┆ 53.1    │
│ 5           ┆ 0        ┆ Allen, Mr. William Henry        ┆ male   ┆ 35.0 ┆ 8.05    │
└─────────────┴──────────┴─────────────────────────────────┴────────┴──────┴─────────┘

In [ ]:
survived_gender